map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

server { 
  listen       8080 ssl;
  ssl_certificate /etc/nginx/conf.d/{{ PROXY_CRT }};
  ssl_certificate_key /etc/nginx/conf.d/{{ PROXY_KEY }};
  ignore_invalid_headers off;

  location / {
    sendfile off;
    proxy_pass         http://{{ DOCKER_MASTER_NAME }}:8080;
    proxy_redirect     default;
    proxy_http_version 1.1;
   # Required for Jenkins websocket agents
    proxy_set_header   Connection        $connection_upgrade;
    proxy_set_header   Upgrade           $http_upgrade;
   proxy_set_header   Host              $host;
    proxy_set_header   X-Real-IP         $remote_addr;
    proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_max_temp_file_size 0;
   #this is the maximum upload size
    client_max_body_size       10m;
    client_body_buffer_size    128k;
   proxy_connect_timeout      90;
    proxy_send_timeout         90;
    proxy_read_timeout         90;
    proxy_buffering            off;
    proxy_request_buffering    off; # Required for HTTP CLI commands
    proxy_set_header Connection ""; # Clear for keepalive
  }

}
